<div class="rootdiv">
    <div class="sidepanel">
        <img class="img-circle" src="../assets/img/Profile.jpg">
        <label class="name">Elliot Wilkinson</label>
        <ul class="sidenav">
            <li><a routerLink="/curriculumvitae" routerLinkActive="active">Curriculum Vitae</a></li>
            <li><a routerLink="/runningtodo" routerLinkActive="active">Endurance</a></li>
        </ul>
    </div>


    <div class="fill-area content flexbox-item-grow">
        <router-outlet></router-outlet>
    </div>

</div>
