h1 {
  font-size: 2em;
  color: #eee;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.rootdiv{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  background:#97C8FF;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  color: #eee;  
  text-transform: uppercase;
  cursor: pointer;
}

nav a:hover {
  background-color: #5384dc;
}

nav a.active {
  background-color: #5384dc;
}

.fill-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.flexbox-item-grow
{
    flex: 1; /* same as flex: 1 1 auto; */
}

.content {
  margin: 0 2em;
}

.mainnavbar{
  background: #6495ED;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.name {
  margin-left: 0.3em;
}


