.sportevent-card {
    width: 400px;
    background-color: #EFEAEA;    
}

md-icon.material-icons.complete {
    color: #4ABDAC;
}

md-icon.material-icons {
  font-size: 40px !important; 
  color: #F78733;
}